.cropper-point{
    width: 15px!important;
    height: 15px!important;
    border: 1px solid #fff;
}

#ageditor{
    margin-top: 25px;
    float: left;  
}

.ag-container{ 
    background-color: darkgrey;
    min-height : 1000px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px;
    min-width: 1000px;
    overflow-y: auto;
    z-index: 1045;
    width: 1000px;
}

[data-toggle="tooltip"] {
    position: relative; 
    z-index: 1045;
}

.ag-container-fullpage{
    position: fixed;
    width: 100%;
}

.clear {
    height: 10px;
    width: 100%;
    display: block;
    background-color: darkgrey;
}

.ag-container .navbar-nav .nav-link{
    margin-left: 5px!important;
    font-size: 2rem;
}

.ag-container .navbar .ag-fullpage{
    font-size: 24px;
}

#saveSablonToServer{     
    color: red;
    font-size: 3rem;
    position: absolute;
    right: 30px;
    margin: 0px!important;
}

#properties-panel {
    right: 14px;
    top: 0px;
    position: relative;
    height: 100%;
    min-height: 500px;
    display: block;
    overflow-y: auto;
    border: 1px solid #ccc;
    z-index: 9999;
    background-color: #fff;
    padding: 0px;
}

#properties-panel .card{
    border-radius: 0px!important;
    border: none;
}

#properties-panel .card .card-body{
    padding: 0px;
}

#properties-panel .card .card-header {
    padding: 0.5rem 1.25rem;
    font-size: 18px;
    background-color: #f8f8f8;
    margin-top: 0;
    line-height: 32px;
}

#preview-input-panel{
    right: 7px;
    top: 0px;
    position: relative;
    height: 100%;
    min-height: 500px;
    display: block;
    overflow-y: auto;
    border: 1px solid #ccc;
    z-index: 1000;
    background-color: #fff;
    padding: 0px;
}


#preview-input-panel .card .card-header {
    padding: 0.5rem 1.25rem;
    font-size: 18px;
    background-color: #f8f8f8;
    margin-top: 0;
    line-height: 32px;
}

#ageditor .canvas-container{
    margin-left: auto;
    margin-right: auto;
}

.sablon {
    height: 96px;
    width: 64px;
    border: 1px;
    margin: 10px;
    background-color: bisque;
    cursor: pointer;
}

.img-thumbnail {
    max-width: 64px !important;
    height: 96px;
    width: 64px;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.img-thumbnail:hover {
    background-color: aliceblue;
}

.img-thumbnail img {
    display: block;
    padding: 2px !important;
    border: 1px solid #ccc;
    max-height: 120px;
    width: 100%;
}

.img-thumbnail .file-name {
    display: block;
    width: 95%;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    text-align: center;
    word-wrap: break-word;
}

.properties{
    width: 100%!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.table tr td{
    margin: 0!important;
    padding: 10px!important;
    font-size: 12px!important;
    padding-left: 12px!important;
}

#properties-panel .table tr td:first-child{ 
    width: 120px;
}

.ag-form-control{ 
    height: fit-content!important;
    padding: 1px!important;
    border-radius: 0!important;
    font-size: 12px!important;
    padding-left: 5px!important;
}

.ag-checkbox{
    height:16px!important;
}


#modal-agcropper .modal-body{ 
    padding: 0px!important;
    height: auto!important; 
    width: 100%;
    height: 600px!important;
}


#modal-agcropper .modal-body .wrap-user-image .user-image{   
    height:120px;
    width:auto;
}
#modal-agcropper .modal-body .wrap-user-image .user-image:hover{ 
    border:2px solid rgb(160, 183, 209);
}

#modal-agcropper .modal-body .wrap-user-image{ 
    position: relative;
    margin:10px;
    padding:4px;
    border:1px solid #ccc;
    float:left;
    height:128px;
    width:auto;
}

#modal-agcropper .modal-body .wrap-user-image svg{ 
    position: absolute;
    right: -10px;
    width: 36px;
    height: auto;
    color: red;
    border: 4px solid #ccc;
    padding: 7px;
    border-radius: 20px;
    background-color: cornsilk;
    top: -10px;
}

#modal-agcropper .modal-body .wrap-user-image svg:hover{  
    width: 42px;  
}
 
#modal-agcropper .modal-dialog {
    width: 100%;
	min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  
#modal-agcropper .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
}

#modal-agcropper .crop-menu-item{
    margin-left:10px; 
}

#modal-agcropper .btn-link i{
    font-size: 20px;
}

.pid-bulunamadi{
    padding: 50px;
    margin: 50px;
    text-align: center;
}

.pid-bulunamadi big{
    font-size: 30px;
}

.inputs .btn {
    border-radius: 0!important;
}

.inputs  .ag-edit-font{
    background-color: #fff;    
    color: #2196F3;
    text-shadow: unset; 
    background-image: unset;
    background-repeat: repeat-x;
    border-color:unset;
    padding: 6px;
    border: 1px solid #cee5ea;
}

.inputs .ag-onay i{
    font-size: 25px!important;
    color: #2199C6;
    padding: 2px;
}

.inputs .ag-textbox{
    font-size: 18px!important;
    border: 1px solid #e6e5e5;
}


.ag-font-list{
    height: 200px;
    overflow-y: scroll;
}
.ag-font-list ul{
    list-style: none;
    padding: 0!important;
}

.ag-font-list ul li{ 
    font-size: 24px;
    border: 1px solid #dcdcdc;
    padding-left: 28px;
    margin: 2px;
    display: block; 
    cursor: pointer;
}

.ag-font-list ul li:hover{
    background-color: #cee5ea;
}

.ag-color-list .ag-color-box{
    width: 32px;
    height: 32px;
    margin: 2px;
    border: 1px solid #ccc;
    float: left;
    display: block;
    cursor: pointer;
}

.ag-color-list .ag-color-box:hover{
    border: 2px solid #ccc;
}

#modal-font-setting .modal-body{  
    display: flow-root!important;
}




/*------------------------------ OC Front Page  -----------------------------*/
.oc-preview-input-panel{
    height:unset!important;
    min-height: unset!important;
    border:0px!important;
}

.oc-preview-input-panel tr td{
    border:0px!important;
    padding: 0!important;
}

.ag-alanseti{
    border: 1px solid #ccc!important;
    padding: 0;
    padding-left: 13px!important;
}

.ag-alanseti label{
    width: 100%!important;
    float: none!important;
    display: inline!important;
}

.ag-alanseti legend{ 
    font-style: normal!important;
    font-weight:normal!important;
    font-size:15px!important;
    margin-left: 3px;
    color: #6f6f6f!important;
    background-color: transparent!important;
    width:auto;
    border: 0;
    margin: 0;
}

.ag-alanseti #ageditor{
    width: 100%;
    margin-top :0px;
}

.ag-alanseti .canvas-container{
    width: 100%!important;
}

.ag-alanseti canvas{
    width: 100%!important;
    height: auto!important;
}